html, body {
	height: 85%;
}

/**
 * operation area css
 */
 #drop_zone {
  border: 2px dashed #bbb;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  padding: 25px;
  text-align: center;
  font: 20pt bold 'Vollkorn';
  color: #bbb;
}

strong.error {
  color: #ff0000;
}

summary {
  color: red;
}

details[open] {
  height: auto;
  background: lightyellow;
}

details {
  transition: 0.5s;
  background: white;
}

#create_new {
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}

/**
 * table css
 */
.sticky_table {
	width: auto;
	border-collapse: collapse;
	text-align: left;
	line-height: 1.5;
  border-left: 1px solid #ccc;
  display: block;
  position: relative;
  overflow: scroll;
  width: calc(100vw - 3.0rem);
  height: calc(75vh);
  border-collapse: collapse;
  font-size: 0;
  margin-bottom: 50px;
}

.sticky_table thead,
.sticky_table tbody {
  display: block;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}

.sticky_table thead {
	border-top: 1px solid #ccc;
	border-bottom: 2px solid #c00;
	background: #dcdcd1;
}

.sticky_table thead th {
	padding: 10px;
	font-weight: bold;
	border-right: 1px solid #ccc;
	background: #dcdcd1;
}

.sticky_table th,
.sticky_table td {
  display: inline-block;
  width: 8.0rem;
  background: #fff;
  font-size: 1.0rem;
}

.sticky_table tbody th {
  position: -webkit-sticky;
  position: sticky;
  left: 0;
  z-index: 1;
}

.sticky_table thead {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 2;
}

.sticky_table thead th.blank {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 3;
}

.sticky_table tbody tr {
	vertical-align: top;
	border-bottom: 1px solid #ccc;
}

.sticky_table td {
	padding: 10px;
	vertical-align: top;
	border-right: 1px solid #ccc;
}

.no-display {
  display: none;
}

#dl_filename {
  padding-left: 0.5em;
}

/**
 * footer css
 */
.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  background: none;
  text-align: center;
  font-size: 10pt;
  right: 0px;
}

.footer p {
  margin-top: 8px;
}

.footer p a {
  color: #7f8c8d;
  border: 1px solid #7f8c8d;
  width: 80%;
  margin: 0 auto;
  padding: 5px 20px;
  border-radius: 3px;
  margin-top: 8px;
  text-decoration: none;
}
